<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Generic Api Consumer</title>
</head>
<body>

<button id="list">List</button>
<button id="retrieve">Retrieve</button>
<button id="create">Create</button>
<button id="patch">Patch</button>
<button id="update">Update</button>
<button id="delete">Delete</button>

<pre id="response"></pre>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script>
    const ws = new WebSocket("ws://localhost:8000/ws/twitch/?token=" + 'lUJi703yQ8ucZzPoULTm2unIxupXou')
    ws.onopen = function () {
        ws.send(
            JSON.stringify({
                action: "join_room",
                request_id: new Date().getTime(),
            })
        );
    };
</script>
</body>
</html>